 
    <footer>
        <div class="footer-main  py-2">
            <div class="footer-edit">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <br/>
                &#169; SOMNATH Car PVT. LTD.
                <br/>
               <p> Email: somnathcar125@gmail.com </p>
            </div>
        </div>
    </footer>
