<% layout("/layouts/boilerplate") %>

     <h4 style="margin: auto; background-color: rgb(131, 26, 26); color: white; text-align: center; 
     margin-right: 4rem;">
        <%=  message %> !!!</h4>
        <br/><br/>
       <a href="/cars" ><button class="btn btn-outline-primary p-1">Go to Back</button></a>
       <br/><br/><br/><br/><br/>
