<% layout("/layouts/boilerplate") %>

<form action="/signup" method="post">
    <div class="row">
        <div class="col-6">
      <input type="text" name="username" placeholder="Enter Username" class="form-control ">
      <br/><br/>
      <input type="number" name="mobile" placeholder="Enter Mobile Number" class="form-control">
      <br/><br/>
      <input type="password" name="password" placeholder="Enter Password" class="form-control">
      <br/><br/>
      <button  class="btn btn-outline-success p-1">Submit</button>
    </div>
    </div>
    <br/><br/><br/><br/>
</form>